extends layout

block content
  h1 Train Schedule
  p Select your train below to see its current schedule.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCXsAteezG3IBP58WnyfanfuDYsqYZ+W36txYSQFph5ZBlqAMdlIqq9H9iM9Yy8rwThpAZm5ttoESv0jJgmD7xf0shpBMwSk3D+EmUWQkhVPSe9IDNiZI0TLLc+ACmEWq3KLCl33C1T4e/389FuFjPFkiybi9qHpUkGjs+gykGUgwxAs3EN0Ob+GMru6VUCWKaIbcx9nTQqWFdPQWdRuXOlQrlDP1RyuR1z/tB7hekw6qXUU/nhBlc90EfC5RigYyxOcKLxUMpAFRXM7PYzRPspFtQMwa6ka0QcS56D5nc48Zt7fa6r129WF45kWWuV7tuG4rFgI0rubCjoIZFsNXTF nick
        strong Select a train to view its current schedule.
